---
layout: default
---
<div class="container-fluid header">
  <h1>I make games not websites.</h1>
  <a href="https://twitter.com/undefinist">@undefinist</a>
  <a href="https://undefinist.deviantart.com">\custo</a>
  <a href="https://blog.undefinist.com">_blog</a>
</div>
<div id="games" class="container-fluid">
  <div class="grid card-colum">
    {% assign games = site.data.games | sort:"date" | reverse %}
    {% for game in games %}
      {% assign gametype = "Game Jam" %}
      {% if game.type %}
        {% assign gametype = game.type %}
      {% endif %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 card-outer" data-type="{{gametype}}">
        <a class="card" href="{{game.url}}">
          <img src="{{game.cover}}" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">{{game.title}}</h3>
            <p>{{game.desc | markdownify}}</p>
            <small>[ {{game.tool}} ]<br>{{gametype}} // {{game.interval}}</small>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
<script src="script.js"></script>