html, body {
	width: 100%;
	height: 100% !important;
	margin: 0;
	padding: 0;
	background: #f3f3f3;
	font-family: minion-3, Georgia, serif;
	scroll-behavior: smooth;
	user-select: none;
}

.header {
	padding: 20px 30px;
}
h1 {
	font-size: 3rem;
}

.header a, .footer a {
	font-size: 2rem;
	display: inline-block;
	transition: transform 0.25s ease-out;
}
.header a:hover, .footer a:hover {
	transform: translate(1rem, 0);
}
.header a:nth-of-type(even) {
	color: #84dcc6;
}
.header a:nth-of-type(odd) {
	color: #ffa69e;
}

.footer {
	padding: 15px 30px;
	text-align: right;
	display: inline-block;
}
.footer a {
	font-size: 1em;
	color: #ffa69e;
	float: left;
}
.footer span {
	color: #aaaaaa;
}
.footer img {
	margin-bottom: 10px;
}

@media (max-width: 575px) {
	.footer {
		text-align: center;
	}
	.footer a {
		float: none;
	}
	.footer span {
		display: block;
	}
}

.card {
	box-shadow: -6px 6px #ffa69e;
	background: #ffffff;
	border: 0;
	border-radius: 0;
	margin-bottom: 30px !important;
	transition: box-shadow 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
	color: #111111;
}
.card:hover {
	box-shadow: -6px 6px #84dcc6;
	text-decoration: none;
	color: #111111;
}
.card-img-top {
	border-radius: 0;
}
.card-title {
	font-family: proxima-nova, helvetica, sans-serif;
}

small {
	color: #7f7f7f;
	font-family: proxima-nova, helvetica, sans-serif;
	vertical-align: bottom;
}
small > span {
	font-family: "Source Code Pro", Calibri, monospace;
	font-size: 0.9em;
}

#about-me .card-title {
	font-weight: 600;
}
#about-me .card {
	border-radius: 16px;
	font-size: 1.25em;
	box-shadow: none;
	user-select: text;
}
#about-me p.last, #about-me p:last-child {
	margin-bottom: 0;
}
#about-me .expand {
	position: relative;
}
#about-me .expand::before {
    content: "";
    position: absolute;
    left: -6px;
    right: 6px;
    top: 6px;
    bottom: -6px;
    border-radius: 16px;
	background: repeating-linear-gradient( -45deg, #ffa69e, #ffa69e 10px, transparent 10px, transparent 20px );
}