
//
// VARIABLES
//

// Colors
$blue: #13a2e4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #7f7f7f;
$lightGray: #e7e7e7;
$white: #fff;

// Font stacks
$headerFont: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodyFont: minion-3, Georgia, serif;

$accent1: #FFA69E;
$accent2: #6dc4ae;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}