<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/vqw6kqd.css">
  <link rel="stylesheet" href="style.css">
  <link rel='shortcut icon' type='image/png' href='favicon.png' />

  <title>undefinist / {{ page.title }}</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 detail">
        <header class="masthead clearfix">
          <a href="/" class="site-avatar">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/f23ee899-5a46-4134-a74f-d50082411b0c/dcugmym-a42b8811-ad70-4ba7-b5f4-5e2a91007a02.png">
          </a>
          <div class="site-info">
            <h1 class="site-name"><a href="/">Malody Hoe</a></h1>
            <p class="site-description">programmer · gameplay / generalist</p>
          </div>
        </header>
        {{ content }}
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</body>

</html>